.app {
  background: #209cee;
  /* min-height: 100vw; */
  /* height: 50vw; */
  /* padding: 30px; */
}

body {
  background-color: rgb(29, 26, 26) !important;
}

.listarea {
  background: #209cee;
  min-height: 130vh;
}

.todo-lists {
  /* position: center; */
  /* align-items: center;
  justify-content: center; */

  /* margin: auto; */
}

/* List */

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 800px;
  padding: 5px;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 130px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.taskNumbers {
  font-size: 24px;
}

.about {
  align-items: center;
  position: center;
  text-align: center;
  height: 100vh;
  background: #344991;
  color: white;
}

.addList {
  position: right;
  display: inline-block;
  margin-left: 75%;
  /* margin-right: 480px;
  min-height: 30vh; */
  align-items: right;
  min-height: 40vh;
}

.tabs {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* background-color: rgb(0, 23, 156); */
  background-color: #342383;
  position: center;
  color: white;
  text-align: center;
}

#addListButton {
  padding: 40px;
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid black;
}

.header {
  position: center;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 3vw;
  padding-bottom: 12vh;
  bottom: 0;
  height: 2rem;
  background-color: #342383;
}

.footer {
  position: center;
  color: white;
  text-align: center;
  width: 100%;
  /* padding-top: 3vh; */
  /* padding-bottom: 6vh; */
  /* margin: -10px auto -100px auto; */

  /* bottom: 0; */
  height: 2.5rem;
  background-color: #342383;
  /* position: absolute; */
  /* */
  /* position: fixed; */
  position: fixed;
  height: 210px;
  /* background-color: red; */
  bottom: 0px;
  margin-bottom: 60px;
  /* left: 0px;
  right: 0px;
  margin-bottom: 0px; */
}

.bottomFooter {
  margin-top: 10px;
  background-color: #342383;
  height: 3.5rem;
  padding-bottom: 100px;
}

/*Extra small*/
@media only screen and (min-width: 0px) {
  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    /* padding-top: 3vw;
    padding-bottom: 35vw;
    bottom: 0;
    height: 2.5rem; */
    background-color: #342383;
  }
}

/*Quite small*/
@media only screen and (min-width: 360px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 300px;
    padding: 5px;
    font-size: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }

  .header {
    position: center;
    color: white;
    text-align: center;
    /* width: 100%;
    padding-top: 3vw;
    padding-bottom: 32vw;
    bottom: 0; */
    height: 2.5rem;
    background-color: #342383;
  }
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 800px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }

  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    /* padding-top: 3vw;
    padding-bottom: 12vw;
    bottom: 0;
    height: 2.5rem; */
    background-color: #342383;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 600px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }
  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    /* padding-top: 3vw;
    padding-bottom: 17vw; */
    bottom: 0;
    /* height: 2.5rem; */
    background-color: #342383;
  }
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 800px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }
  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    /* padding-top: 3vw;
    padding-bottom: 15vw;
    bottom: 0;
    height: 2.5rem; */
    background-color: #342383;
  }
}
