.app {
  background: #209cee;
}

body {
  background-color: rgb(29, 26, 26) !important;
}

.listarea {
  background: #209cee;
  min-height: 90vh;
}

/* List */

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 800px;
  padding: 5px;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 130px;
}

.noLists {
  margin-top: 100px;
  position: center;
  color: white;
  text-align: center;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todoInput {
  font-size: 22px;
  width: 80%;
}

.todoButton {
  padding: 5px 25px;
  margin-left: 5px;
}

.taskNumbers {
  font-size: 24px;
}

.about {
  align-items: center;
  position: center;
  text-align: center;
  height: 100vh;
  background: #344991;
  color: white;
}

.addList {
  position: right;
  display: inline-block;
  margin-left: 75%;
  height: 210px;
  margin-bottom: 10px;
  align-items: right;
  min-height: 40vh;
}

.tabs {
  background-color: #342383;
  position: center;
  color: white;
  text-align: center;
}

#addListButton {
  padding: 40px;
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid black;
}

.header {
  position: center;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 3vw;
  padding-bottom: 12vh;
  bottom: 0;
  height: 2rem;
  background-color: #342383;
}

.totalFooter {
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  height: 210px;
  bottom: 10px;
  margin-bottom: 160px;
}

.footer {
  color: white;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  background-color: #342383;
  position: fixed;
  height: 210px;
  bottom: 0px;
}

.bottomFooter {
  margin-top: 10px;
  background-color: #342383;
  height: 3.5rem;
  padding-bottom: 100px;
}

.tabsHeader {
  font-size: 40px;
}

/*Extra small*/
@media only screen and (min-width: 0px) {
  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #342383;
    height: 3.5rem;
    padding-bottom: 20vh;
  }

  .listarea {
    min-height: 90vh;
  }

  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 250px;
    padding: 5px;
    font-size: 10px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }

  .todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }

  .todoInput {
    font-size: 14px;
    width: 61%;
  }

  .tabButton {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .taskNumbers {
    font-size: 14px;
  }
  .footer {
    color: white;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    background-color: #342383;
    position: fixed;
    height: 50px;
    bottom: 0px;
    margin-bottom: 50px;
  }

  .totalFooter {
    height: 0px;
    bottom: 0px;
    margin-bottom: 160px;
  }

  .tabsHeader {
    font-size: 20px;
  }

  #addListButton {
    padding: 10px;
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .tabsHeader {
  }
}

/*Quite small*/
@media only screen and (min-width: 360px) {
  .listarea {
    min-height: 90vh;
  }

  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 250px;
    padding: 5px;
    font-size: 10px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
    /* min-height: 500px; */
  }

  /* .addList {


    height: 210px;
    margin-bottom: 10px;
    
    min-height: 40vh;
  } */

  .header {
    position: center;
    color: white;
    text-align: center;
    height: 3.5rem;
    background-color: #342383;

    padding-bottom: 15vh;
  }

  .todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }

  .todoInput {
    font-size: 14px;
    width: 61%;
  }

  #addListButton {
    padding: 10px;
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .taskNumbers {
    font-size: 20px;
  }

  .tabButtons {
    margin-bottom: 10px;
  }

  .footer {
    color: white;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    background-color: #342383;
    position: fixed;
    height: 180px;
    bottom: 0px;
    margin-bottom: 0px;
  }

  .totalFooter {
    height: 110px;
    bottom: 10px;
    margin-bottom: 160px;
  }
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 800px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }

  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #342383;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 600px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }
  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    background-color: #342383;
  }
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 800px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }

  .listarea {
    min-height: 90vh;
  }
  .header {
    position: center;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #342383;

    padding-top: 3vw;
    padding-bottom: 12vh;
    bottom: 0;
  }

  .todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }

  .todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 800px;
    padding: 5px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 130px;
  }

  .tabButton {
    margin-bottom: 10px;
    font-size: 20px;
  }

  #addListButton {
    padding: 40px;
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .todoInput {
    font-size: 22px;
    width: 80%;
  }

  .totalFooter {
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    height: 210px;
    bottom: 10px;
    margin-bottom: 160px;
  }

  .addList {
    position: right;
    display: inline-block;
    margin-left: 75%;
    height: 210px;
    margin-bottom: 10px;
    align-items: right;
    min-height: 40vh;
  }

  .footer {
    color: white;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    background-color: #342383;
    position: fixed;
    height: 210px;
    bottom: 0px;
  }

  .tabs {
    background-color: #342383;
    position: center;
    color: white;
    text-align: center;
  }

  .bottomFooter {
    margin-top: 10px;
    background-color: #342383;
    height: 3.5rem;
    padding-bottom: 100px;
  }

  .taskNumbers {
    font-size: 24px;
  }

  .tabsHeader {
    font-size: 40px;
  }
}
